.table-container {
  width: 100%;
  margin-top: 20px;
}

.full-width-table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  background-color: #2f4f4f;
  color: #ffffff;
}

.table-content {
  background-color: #ffffff;
}

.wins-count-cell {
  text-align: center;
}

.table-content th,
.table-content td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 768px) {
  .table-content {
    overflow-x: auto;
  }
}
